<h1>Admin Blog List</h1>

<a
  class="btn btn-primary"
  id="createBlogEntryBtn"
  *ngIf="auth.loggedIn" [routerLink]="['/blog/create']">
  <i class="fa fa-plus"></i>
  New Blog Entry
</a>

<app-search-box
  [searchTerm]="searchTerm"
  (searchChanged)="changePage({search: $event.searchTerm, page: 1})">
</app-search-box>

<br />

<div class="alert alert-danger" *ngIf="blogService.error">
  {{blogService.error}}
</div>

<div *ngIf="!blogEntries" class="alert alert-info">
  No blog entries at this time.
</div>

<div *ngIf="blogEntries">
  <div>
    <div class="pull-right">
      <div class="form-group">
        <label for="sort">Sort</label>
        <select
          class="form-control"
          id="sort"
          name="sort"
          (change)="changePage({page: 1})"
          [(ngModel)]="sort">
          <option value="created">Date Ascending</option>
          <option value="-created">Date Descending</option>
          <option value="title">Title Ascending</option>
          <option value="-title">Title Descending</option>
        </select>
      </div>
      <div class="form-group">
        <label for="limit">Limit</label>
        <select
          class="form-control"
          id="limit"
          name="limit"
          (change)="page = 0; changePage()"
          [(ngModel)]="limit">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
    <div class="blog-count">
      {{currentStart}} through {{currentEnd}} of {{count}}
      <span *ngIf="searchTerm">for search term "{{searchTerm}}"</span>
      <span *ngIf="queryParams.user">by user {{queryParams.username}}</span>
    </div>
    <pagination
      class="pagination-sm"
      firstText="&laquo;"
      lastText="&raquo;"
      nextText="&rsaquo;"
      previousText="&lsaquo;"
      [boundaryLinks]="true"
      [itemsPerPage]="limit"
      [(ngModel)]="currentPage"
      (pageChanged)="changePage($event)"
      [totalItems]="count">
   </pagination> 
  </div>
  <table class="table table-striped table-hover">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th>Content</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr
      class="admin-blog-list-item"
      *ngFor="let blogEntry of blogEntries trackBy _id">
      <td>
        <a [routerLink]="['/blog', blogEntry.slug]">{{blogEntry.title}}</a>
      </td>
      <td>
        <a
          [queryParams]="{
            user: blogEntry.user._id,
            username: blogEntry.user.profile.name
          }"
          [routerLink]="['/admin/blog/list']">
          {{blogEntry.user.profile.name}}
        </a>
      </td>
      <td>
        {{blogEntry.created}}
      </td>
      <td>
        {{blogEntry.content.slice(0, 100)}}...
      </td>
      <td>
        <a
          class="btn btn-default"
          routerLink="/blog/{{blogEntry.slug}}/edit">
          <i class="fa fa-edit"></i>
        </a>
      </td>
      <td>
        <button
          class="btn btn-default"
          (click)="deleteBlogEntry(blogEntry)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </table>
  <div>
    <!-- Setting (pageChanged) again here would make it fire twice on page changes -->
    <pagination
      class="pagination-sm"
      firstText="&laquo;"
      lastText="&raquo;"
      nextText="&rsaquo;"
      previousText="&lsaquo;"
      [boundaryLinks]="true"
      [itemsPerPage]="limit"
      [(ngModel)]="currentPage"
      [totalItems]="count">
   </pagination> 
    <div>
      {{currentStart}} through {{currentEnd}} of {{count}}
      <span *ngIf="searchTerm">for search term "{{searchTerm}}"</span>
      <span *ngIf="queryParams.user">by user {{queryParams.username}}</span>
    </div>
  </div>
</div>
