<h1>Admin Blog List</h1>

<a
  class="btn btn-primary"
  id="createBlogEntryBtn"
  *ngIf="auth.loggedIn" [routerLink]="['/blog/create']">
  <i class="fa fa-plus"></i>
  New Blog Entry
</a>

<br />

<div class="alert alert-danger" *ngIf="blogService.error">
  {{blogService.error}}
</div>

<app-paginated-search-list
  [listRetriever]="blogService.getList"
  [sortFields]="sortFields"
  #list>
  <table class="table table-striped table-hover" *ngIf="list.items">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th>Content</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr
      class="admin-blog-list-item"
      *ngFor="let blogEntry of list.items trackBy _id">
      <td>
        <a [routerLink]="['/blog', blogEntry.slug]">{{blogEntry.title}}</a>
      </td>
      <td>
        <a
          [queryParams]="{
            user: blogEntry.user._id,
            username: blogEntry.user.profile.name
          }"
          [routerLink]="['/admin/blog/list']">
          {{blogEntry.user.profile.name}}
        </a>
      </td>
      <td>
        {{blogEntry.created}}
      </td>
      <td>
        {{blogEntry.content.slice(0, 100)}}...
      </td>
      <td>
        <a
          class="btn btn-default"
          routerLink="/blog/{{blogEntry.slug}}/edit">
          <i class="fa fa-edit"></i>
        </a>
      </td>
      <td>
        <button
          class="btn btn-default"
          (click)="deleteBlogEntry(blogEntry)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </table>
</app-paginated-search-list>
