<app-search-box
  [searchTerm]="searchTerm"
  (searchChanged)="changePage({search: $event.searchTerm, page: 1})">
</app-search-box>

<br />

<div *ngIf="error" class="alert alert-danger">
  {{error}}
</div>

<div *ngIf="!items && loaded" class="alert alert-info">
  No items at this time.
</div>

<div *ngIf="items && loaded">
  <div>
    <div class="pull-right">
      <div class="form-group">
        <label for="sort">Sort</label>
        <select
          class="form-control"
          id="sort"
          name="sort"
          (change)="changePage({page: 1})"
          [(ngModel)]="sort">
          <option value="created">Date Ascending</option>
          <option value="-created">Date Descending</option>
          <option value="title">Title Ascending</option>
          <option value="-title">Title Descending</option>
        </select>
      </div>
      <div class="form-group">
        <label for="limit">Limit</label>
        <select
          class="form-control"
          id="limit"
          name="limit"
          (change)="page = 0; changePage()"
          [(ngModel)]="limit">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
    <div class="item-count">
      {{currentStart}} through {{currentEnd}} of {{count}}
      <span *ngIf="searchTerm">for search term "{{searchTerm}}"</span>
      <span *ngIf="queryParams.user">by user {{queryParams.username}}</span>
    </div>
    <pagination
      class="pagination-sm"
      firstText="&laquo;"
      lastText="&raquo;"
      nextText="&rsaquo;"
      previousText="&lsaquo;"
      [boundaryLinks]="true"
      [itemsPerPage]="limit"
      [(ngModel)]="currentPage"
      (pageChanged)="changePage($event)"
      [totalItems]="count">
   </pagination> 
  </div>
  <ng-content></ng-content>
  <div>
    <!-- Setting (pageChanged) again here would make it fire twice on page changes -->
    <pagination
      class="pagination-sm"
      firstText="&laquo;"
      lastText="&raquo;"
      nextText="&rsaquo;"
      previousText="&lsaquo;"
      [boundaryLinks]="true"
      [itemsPerPage]="limit"
      [(ngModel)]="currentPage"
      [totalItems]="count">
   </pagination> 
    <div>
      {{currentStart}} through {{currentEnd}} of {{count}}
      <span *ngIf="searchTerm">for search term "{{searchTerm}}"</span>
      <span *ngIf="queryParams.user">by user {{queryParams.username}}</span>
    </div>
  </div>
</div>