<div *ngIf="auth.loggedIn
  && (auth.user()._id === blogEntry.user._id || auth.isAdmin)"
>
  <div class="pull-right">
    <a class="btn btn-primary" [routerLink]="['edit']" id="blogEditBtn">
      <i class="fa fa-edit"></i>
      Edit
    </a>
    <button class="btn btn-danger"
      id="blogDeleteBtn"
      (click)="deleteBlogEntry()"
    >
      <i class="fa fa-trash-o"></i>
      Delete
    </button>
  </div>
  <br />
  <br />
  <div class="alert alert-danger" *ngIf="blogService.error">
    {{blogService.error}}
  </div>
</div>

<h1>{{blogEntry.title}}</h1>

<small>
  Posted on {{blogEntry.created}} by {{blogEntry.user.profile.name}}
</small>

<div id="blogEntryContent">
  {{blogEntry.content}}
</div>
