<div>{{comment.user.profile.name}} commented on {{comment.created}}</div>
<div>{{comment.content}}</div>
<div *ngIf="(auth.isAdmin
    || auth.user().id == blogEntry.user.id
    || auth.user().id == comment.user.id)
    && !commentIsBeingEdited">
  <button
    (click)="commentIsBeingEdited = true"
    class="btn btn-info btn-xs">
    Edit Comment
  </button>
  <button
    (click)="deleteComment()"
    class="btn btn-danger btn-xs">
    Delete Comment
  </button>
</div>

<app-comment-edit
  *ngIf="commentIsBeingEdited"
  [blogEntry]="blogEntry"
  [comment]="comment"
  [isNew]="false"
  (onCommentCancel)="onCommentCancel()"
  (onCommentSaveSuccess)="onCommentSave($event)">
</app-comment-edit>