<nav class="navbar navbar-default">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" [routerLink]="['']"></a>
		</div>
		<ul class="nav navbar-nav pull-right">
			<li *ngIf="!auth.loggedIn"><a [routerLink]="['login']">Sign In</a></li>
			<li *ngIf="!auth.loggedIn"><a [routerLink]="['signup']">Sign Up</a></li>
			<li *ngIf="auth.loggedIn"><a [routerLink]="['profile']">Profile</a></li>
			<li *ngIf="auth.loggedIn"><a class="pointer" (click)="logout()">Logout</a></li>
		</ul>
	</div>
</nav>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
