<h1>Meangular</h1>

<p>
  Meangular is a full-stack Angular 2+ solution based on <a href="https://github.com/greenpioneersolutions/meanstackjs" target="_blank">Mean Stack JS</a> using the <a href="https://github.com/angular/angular-cli" target="_blank">Angular-cli</a>
</p>

<p>
  The aim is to provide a comfortable baseline for fully-featured full-stack development while keeping the front-end functional enough as a beginning for most cases without needing to remove custom styling or unneeded features.
</p>
