<div class="jumbotron col-sm-6 col-sm-offset-2">
  <form novalidate [formGroup]="forgotForm" (submit)="forgot()">
    <fieldset>
      <legend>Forgot Password</legend>
      <div class="form-group"
        [class.has-error]="
          !forgotForm.controls['email'].valid
            && forgotForm.controls['email'].touched"
      >
        <label class="control-label" for="email">
          Email
        </label>
        <input type="email"
          id="email"
          class="form-control" 
          [formControl]="forgotForm.controls['email']"
        />
        <span class="help-block" *ngIf="
          forgotForm.controls['email'].hasError('required')
            && forgotForm.controls['email'].touched
        ">
          Email is required
        </span>
        <span class="help-block" *ngIf="
          forgotForm.controls['email'].hasError('pattern')
        ">
          Must be a proper email
        </span>
      </div>
      <button class="btn btn-primary"
        type="submit"
        [disabled]="forgotForm.invalid"
      >
        Reset Password
      </button>
    </fieldset>
  </form>
  <div class="alert alert-success" *ngIf="message">
    {{message}}
  </div>
  <div class="alert alert-danger" *ngIf="authService.error">
    {{authService.error}}
  </div>
</div>
