<div class="jumbotron col-sm-6 col-sm-offset-2">
  <form novalidate [formGroup]="resetForm" (submit)="reset()">
    <fieldset>
      <legend>Reset Password</legend>
      <div
        class="form-group"
        [class.has-error]="!resetForm.controls['password'].valid
          && resetForm.controls['password'].touched">
        <label class="control-label" for="password">
          Password
        </label>
        <input
          class="form-control" 
          id="password"
          type="password"
          [formControl]="resetForm.controls['password']"/>
        <span
          class="help-block"
          *ngIf="resetForm.controls['password'].hasError('required')
            && resetForm.controls['password'].touched">
          Password is required
        </span>
        <span
          class="help-block"
          *ngIf="resetForm.controls['password'].hasError('minlength')">
          Must be at least 6 characters long
        </span>
      </div>
      <div
        class="form-group"
        [class.has-error]="!resetForm.controls['confirmPassword'].valid
          && resetForm.controls['confirmPassword'].touched">
        <label class="control-label" for="confirmPassword">
          Confirm Password
        </label>
        <input
          class="form-control" 
          id="confirmPassword"
          type="password"
          [formControl]="resetForm.controls['confirmPassword']"/>
        <span
          class="help-block"
          *ngIf="resetForm.controls['confirmPassword'].hasError('required')
            && resetForm.controls['confirmPassword'].touched">
          Password is required
        </span>
        <span
          class="help-block"
          *ngIf="resetForm.controls['confirmPassword'].hasError('minlength')">
          Must be at least 6 characters long
        </span>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="resetForm.invalid">
        Reset Password
      </button>
    </fieldset>
  </form>
  <br />
  <br />
  <div class="alert alert-success" *ngIf="message">
    {{message}}
  </div>
  <div class="alert alert-danger" *ngIf="authService.error">
    {{authService.error}}
  </div>
</div>
