<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="jumbotron">
      <h2>Fill your data.</h2>
      <form novalidate [formGroup]="signupForm" (submit)="signup()">
        <div class="form-group"
          [class.has-error]="
            !signupForm.controls['email'].valid
              && signupForm.controls['email'].touched"
        >
          <label class="control-label" for="email">
            Email
          </label>
          <input type="email"
            id="email"
            name="email"
            class="form-control" 
            [formControl]="signupForm.controls['email']"
          />
          <span class="help-block" *ngIf="
            signupForm.controls['email'].hasError('required')
              && signupForm.controls['email'].touched
          ">
            Email is required
          </span>
          <span class="help-block" *ngIf="
            signupForm.controls['email'].hasError('pattern')
              && signupForm.controls['email'].touched
          ">
            Must be a proper email
          </span>
        </div>
        <div class="form-group"
          [class.has-error]="
            !signupForm.controls['profile'].controls['name'].valid
              && signupForm.controls['profile'].controls['name'].touched"
        >
          <label class="control-label" for="name">
            Name
          </label>
          <input type="text"
            id="name"
            name="name"
            class="form-control" 
            [formControl]="signupForm.controls['profile'].controls['name']"
          />
          <span class="help-block" *ngIf="
            signupForm.controls['profile'].controls['name'].hasError('required')
              && signupForm.controls['profile'].controls['name'].touched
          ">
            Name is required
          </span>
          <span class="help-block" *ngIf="
            signupForm.controls['profile'].controls['name'].hasError('minlength')
              && signupForm.controls['profile'].controls['name'].touched
          ">
            Name requires at least three characters
          </span>
        </div>
        <div class="form-group"
          [class.has-error]="
            !signupForm.controls['password'].valid
              && signupForm.controls['password'].touched"
        >
          <label class="control-label" for="password">
            Password
          </label>
          <input type="password"
            id="password"
            name="password"
            class="form-control" 
            [formControl]="signupForm.controls['password']"
          />
          <span class="help-block" *ngIf="
            signupForm.controls['password'].hasError('required')
              && signupForm.controls['password'].touched
          ">
            Password is required
          </span>
          <span class="help-block" *ngIf="
            signupForm.controls['password'].hasError('minlength')
              && signupForm.controls['password'].touched
          ">
            Password requires at least six characters
          </span>
        </div>
        <div class="form-group"
          [class.has-error]="
            !signupForm.controls['confirmPassword'].valid
              && signupForm.controls['confirmPassword'].touched"
        >
          <label class="control-label" for="confirmPassword">
            Confirm Password
          </label>
          <input type="password"
            id="confirmPassword"
            name="confirmPassword"
            class="form-control" 
            [formControl]="signupForm.controls['confirmPassword']"
          />
          <span class="help-block" *ngIf="
            signupForm.controls['confirmPassword'].hasError('required')
              && signupForm.controls['confirmPassword'].touched
          ">
            Password is required
          </span>
          <span class="help-block" *ngIf="
            signupForm.controls['confirmPassword'].hasError('minlength')
              && signupForm.controls['confirmPassword'].touched
          ">
            Password requires at least six characters
          </span>
        </div>
        <div *ngIf="authService.error" class="alert alert-danger">
          {{authService.error}}
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="signupForm.invalid"
        >
          Sign Up!
        </button>
      </form>
      
      <hr>

      <a class="btn btn-default" href="/auth/google">
        <i class="fa fa-google"></i> 
        Sign Up with Google
      </a>
    </div>
  </div>
</div>
